%img#about-image(src='/assets/marisajackson.jpg' alt='MaRisa Jackson')

#about-info
  %p After working various types of events, from the Super Bowl to SXSW to ComicCons across the country, I found that what I really enjoyed was working with technology. At most events, I quickly became the person who would be asked to troubleshoot the electronics and applications.
  
  %p Eventually I discovered CodeAcademy, which quickly pushed me down the path to becoming a developer. 

  %p In March 2014, I was accepted into the Nashville Software School. The school has given me experience with various technologies including Node.js and Ruby on Rails. I would love to take my newly learned skills and begin applying them to real world projects.