%ul.project-index
  %li
    =link_to runshow_path do
      .project
        %img(src='/assets/RunShow.png' alt='RunShow')

  %li
    =link_to sapphirerain_path do
      .project
        %img(src='/assets/Sapphire_Rain.png' alt='Sapphire Rain')

  %li
    =link_to pokemonmemory_path do
      .project
        %img(src='/assets/pokemon-memory.png' alt='Pokemon Memory')

  %li
    =link_to studybuddy_path do
      .project
        %img(src='/assets/study-buddy.png' alt='Study Buddy')

