=link_to runshow_path do
  .project
    %img(src='/assets/RunShow.png' alt='RunShow')

=link_to sapphirerain_path do
  .project
    %img(src='/assets/Sapphire_Rain.png' alt='Sapphire Rain')

=link_to pokemonmemory_path do
  .project
    %img(src='/assets/pokemon-memory.png' alt='Pokemon Memory')

=link_to studybuddy_path do
  .project
    %img(src='/assets/study-buddy.png' alt='Study Buddy')

