.project-img
  %img(src='/assets/pokemon-memory.png' alt='Pokemon Memory')
.project-summary
  %h1 Pokemon Memory
  %p A memory match game using Javascript and CSS animations

  %p= link_to "Live App", 'pokemon.marisajackson.com'
  %p= link_to "Github Repo", 'https://github.com/marisajackson/pokemon-memory'