.project-img
  %img(src='/assets/RunShow.png' alt='RunShow')
.project-summary
  %h1 RunShow
  %h4 Summary
  %p A concert management app for promoters and employees.

  %h4 Features
  %ul
    %li Promoters can sign in with Facebook
    %li Promoters can add venues and concerts
    %li Promoters can invite employees through email to the app
    %li Promoters can assign employees to particular concerts 
    %li Promoters can add and update expenses and incomes
    %li Employees can view and update their assigned concerts

  %h4 Technologies Used
  %ul
    %li Ruby on Rails
    %li TDD with Rspec/Capybara/Poltergeist
    %li HAML
    %li Postgres
    %li Postmark
    %li AJAX

  %p= link_to "Live App", 'runshow.herokuapp.com'
  
  %p= link_to "Github Repo", 'https://github.com/marisajackson/concert-management'