.project-img
  %img(src='/assets/Sapphire_Rain.png' alt='Sapphire Rain')
.project-summary
  %h1 Sapphire Rain
  %p A top down dungeon crawler

  %p Capstone Project for Web Development section at Nashville Software School.

  %p I chose to implement a new technology, the Phaser HTML5 game framework, for my capstone project. The two-level top-down puzzle based game features a User Log In that will save your game progress using Node.js and MongoDB.

  %p= link_to "Live App", 'sapphire-rain.marisajackson.com'
  %p= link_to "Github Repo", 'https://github.com/marisajackson/sapphire-rain'