.project-img
  %img(src='/assets/study-buddy.png' alt='Study Buddy')
.project-summary
  %h1 Study Buddy
  %p An LMS Application

  %p Study Buddy was a group project made with Node.js. I was assigned with a team of 2 other students to build an LMS application. We spent the a large portion of our time planning the project appropriately and assigning specific tasks to each team member. Because of our planning, we were able to quickly implement all of the features on our project. 

  %p I worked on the course aspect of the project implementing the following features:
  %li Displaying the course study materials (a linked youtube video)
  %li Displaying and Submitting the course test using animations

  %p After the projects completion, I also spent some extra time refactoring the code and implementing flashcards into the study materials.

  %p= link_to "Live App", 'study-buddy.marisajackson.com'
  %p= link_to "Github Repo", 'https://github.com/marisajackson/study-buddy'